@model IEnumerable<Projeto_BackEnd.Models.Aluno>

@{
    ViewData["Title"] = "Lista de Alunos";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar Aluno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instagram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Nascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instagram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personal.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlunoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AlunoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.AlunoId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
